.external {
    background-position: center right;
    background-repeat: no-repeat;
    background-image: linear-gradient(transparent,transparent),url('../assets/external.svg');
    padding-right: 13px;
}