<!DOCTYPE html>
<html>
    <head>
        <title>Escape the Carnival of the Animals!</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <div id='main' class='container' style='top: 50%;'>
            <p> 
                Press the "Sleep" button below to hide this <br>
                message. The screen will appear to be off and <br>
                students will have to press the spacebar to wake <br>
                it up. Make sure to press F11 for full screen.
            </p>
            <div class='center'>
                <input type='submit' value='Sleep' onClick='sleep()'>
            </div>
        </div>
        <script>

            var isAsleep = false;

            function sleep() {
                document.body.classList.add('sleep');
                document.getElementById('main').style.visibility = 'hidden';
                isAsleep = true;
            }

            window.addEventListener('keyup', function(event) {
                if (event.keyCode == 32 && isAsleep) {
                    window.location.replace("{{ url_for('password') }}");
                }
            })

        </script>
    </body>
</html>